{% extends "base.html" %}
{% block title %} {{SITENAME}} - {{page.title}} {% endblock %}
{% block opengraph %}
  <!-- Open Graph tags -->
  {% if OPEN_GRAPH_FB_APP_ID %}
    <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
  {% endif %}
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ SITENAME }} - {{ page.title }}"/>
  <meta property="og:url" content="{{ page.url }}"/>
  <meta property="og:description" content="{{ page.title }} hardware and development information."/>
  <meta property="og:image"
        content="{{ SITEURL }}/{{ page.og_image }}"/>
{% endblock %}

{% block precontent %}
  <!-- *****************************************************************************************************************
	     HEADERWRAP
	     ***************************************************************************************************************** -->
	<div id="blue">
	  <div class="container">
			<div class="row">
				<h3>{{page.title}}</h3>
			</div><!-- /row -->
	  </div> <!-- /container -->
	</div><!-- /blue -->
{% endblock %}
{% block content %}
  <div class="container mt">
	 	<div class="row">
		 	<div class="col-lg-10 col-lg-offset-1 centered">
        <img src="/{{page.og_image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
	<div class="col-lg-10 col-lg-offset-1">
		<div class="spacing"></div>
    <div class="hardware-content">
      {{ page.content }}
    </div>
  </div>
{% endblock %}
