{% extends "base.html" %}
{% block title %} {{SITENAME}} {% endblock %}
{% block precontent %}
  <!-- *****************************************************************************************************************
	     HEADERWRAP
	     ***************************************************************************************************************** -->
  <div id="headerwrap">
	  <div class="container">
		  <div class="row">
			  <div class="col-lg-8 col-lg-offset-2 himg">
				  <img src="images/buttplug.svg" class="img-responsive logo">
			  </div>
			  <div class="col-lg-8 col-lg-offset-2">
				  <h1>Buttplug.io</h1>
				  <h3>Stick It In.</h3>
			  </div>
		  </div><!-- /row -->
	  </div> <!-- /container -->
  </div><!-- /headerwrap -->
{% endblock %}
{% block content %}
  <!-- *****************************************************************************************************************
	     SERVICE LOGOS
	     ***************************************************************************************************************** -->
  <div id="service">
	  <div class="container">
 		  <div class="row centered">
 			  <div class="col-md-4">
 				  <i class="fa fa-asterisk"></i>
 				  <h4>Cross-Everything</h4>
 				  <p>Buttplug works on Windows, OS X, and Linux, and supports controlling or receiving data from many different types of toys.</p>
 				  <p><br/><a href="/about" class="btn btn-theme">More Info</a></p>
 			  </div>
 			  <div class="col-md-4">
 				  <i class="fa fa-arrows-alt"></i>
 				  <h4>Modular</h4>
 				  <p>Each library Buttplug uses is available on its own, seperate from the main application. Many have implementations in multiple languages, including C, Rust, Python, and node.js!</p>
 				  <p><br/><a href="/about" class="btn btn-theme">More Info</a></p>
 			  </div>
 			  <div class="col-md-4">
 				  <i class="fa fa-plus-square"></i>
 				  <h4>Embeddable</h4>
 				  <p>Building an app or game that needs to use a computer controlled sex toy? Buttplug is embeddable! Just a couple of function calls and you'll be up and running.</p>
 				  <p><br/><a href="/about" class="btn btn-theme">More Info</a></p>
 			  </div>
	 	  </div>
	  </div><! --/container -->
  </div><! --/service -->

{% endblock %}
