{% extends "blog_base.html" %}
{% block blog_content %}
  <div class="col-lg-8">
    {% if articles %}
      {% for article in (articles_page.object_list if articles_page else articles) %}
	 		  <! -- BLOG POSTS LIST -->

	 			<! -- Blog Post 1 -->
        <a href="{{ SITEURL }}/{{ article.url }}"><h3 class="ctitle">{{ article.title }}</h3></a>
		 		<p><csmall>Posted: <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time></csmall></p>
        {{ article.summary }}
        {% if article.summary != article.content %}
          <a class="btn btn-default btn-m btn-read" href="{{ SITEURL }}/{{ article.url }}">Read more ...</a>
        {% endif %}

		 	  <div class="hline"></div>

		 	  <div class="spacing"></div>
        <hr/>
      {% endfor %}
    {% endif %}
    {% include 'includes/pagination.html' %}
  </div>
{% endblock blog_content %}
