{% extends "article_list.html" %}
{% block precontent %}
	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Buttplug Developer Blog</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
{% endblock %}
{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}
