	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About</h4>
		 			<div class="hline-w"></div>
		 			<p>Buttplug.io hosts the Buttplug sex toy control software, as well as the libraries it is built on. </p>
					<p>The theme for Buttplug.io was derived from the free <a href="http://blacktie.co/2014/05/solid-multipurpose-theme/#more-258">SOLID theme by blacktie.co</a>.
		 		</div>
		 		<div class="col-lg-4">
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Social Links</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="https://github.com/metafetish"><i class="fa fa-github"></i></a>
		 				<a href="https://twitter.com/buttplugio"><i class="fa fa-twitter"></i></a>
		 				<a href="https://metafetish.club"><i class="fa fa-comments"></i></a>
		 			</p>
		 		</div>
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
